---
---
<article class="about" id="about">
    <p>
        self driven and passionate about technology, I have been working in the software industry for the last 5 years.
    </p>
    <p>
        Now a days i work for
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae totam culpa, atque nesciunt,
         sequi corrupti error commodi impedit animi excepturi ipsum quod cumque sapiente obcaecati? 
         Reprehenderit, nulla. Repudiandae, accusantium suscipit.

    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, voluptate. 
        Magnam exercitationem labore nihil rem dolorum ipsum, quis reiciendis nobis modi assumenda, neque nesciunt autem aperiam minus amet eius sint!

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci dicta excepturi ex maxime neque delectus modi fugit amet nostrum soluta,
         ad optio quis magni? Eaque aspernatur eveniet quisquam quam deserunt?
        
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, vero incidunt explicabo minima praesentium quis veniam,
        sit obcaecati corrupti sapiente aliquam aut. Nisi aliquam doloribus impedit at libero mollitia laboriosam?
    </p>
    <p>
        self driven and passionate about technology, I have been working in the software industry for the last 5 years.
    </p>
    <p>
        Now a days i work for
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae totam culpa, atque nesciunt,
         sequi corrupti error commodi impedit animi excepturi ipsum quod cumque sapiente obcaecati? 
         Reprehenderit, nulla. Repudiandae, accusantium suscipit.

    </p>

</article>


<style>
    article {
        max-width: 600px;
        margin: 0 auto;
        padding: 1rem;
        font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
        line-height: 1.5;
    }
</style>