<li class="badge">
    <slot />
</li>

<style>
    li {
        border-radius: 8px;
        padding: 5px;
        background-color: #50cbc729;
        font-size: 11px;
        color: #50cbc7;
        border: solid 1px #50cbc729;
        line-height: normal;
        font-weight: 300;
        list-style: none;
        margin-right: 5px;
    }
</style>
