---
---
<aside class="blog" id="blog">
    <h3>Blog</h3>
    <ul>
        <li>
            <h2>Coming soon ...</h2>
        </li>
        <li>
            <h2></h2>
        </li>
    </ul>
</aside>

<style>
    aside{
        font-size: 0.875em; /* 14 px */
        color: #d8d8d8;
        margin-top: 60px;
    }

    li{
        list-style: none;
    }
    li:hover{
        color: #50cbc7;
        cursor: pointer;
    }
    h3{
        /* display: none; */
    }
    @media (max-width: 768px) {
        h3{
            display: block;
            color: #d8d8d8;
        }
        aside {
            margin-top: 20px;
        }
    }
    @media (max-width: 1300px) {
        h3{
            display: block;
            color: #d8d8d8;
        }
        aside {
            width: 100%;
        }
        ul{
            padding: 0;
            text-align: center;
        }

    }
</style>