---
---
<aside class="blog" id="blog">
    <ul>

        <li>
            <h2>My carreer path</h2>
        </li>
        <li>
            <h2>How i lernt linux</h2>
        </li>
    </ul>
</aside>

<style>
    aside{
        font-size: 0.875em; /* 14 px */
        color: #d8d8d8;
        margin-top: 60px;
    }

    li{
        list-style: none;
    }
    li:hover{
        color: #50cbc7;
        cursor: pointer;
    }
</style>