---
import ArrowRight from "./icons/ArrowRight.astro";
const allPosts = await Astro.glob("../pages/blog/*.md");
---

<aside class="blog" id="blog">
    <h3>Blog</h3>
    <ul>
        {Object.entries(allPosts)
            .sort((a, b) => b[1].frontmatter.id - a[1].frontmatter.id)
            .slice(0, 3)
            .map(([slug, { frontmatter }]) => {
                const date = new Date(frontmatter.date);
                const formattedDate = date.toLocaleDateString("es-ES", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                });
                return (
                    <li>
                        <a href={"blog/" + frontmatter.id}>
                            <h4>{frontmatter.title}<ArrowRight class="arrow" /></h4>
                        </a>
                    </li>
                );
            })
            
        }
        <li>
    </ul>
</aside>

<style>
    aside {
        font-size: 0.875em; /* 14 px */
        color: #d8d8d8;
        margin-top: 60px;
        margin-bottom: 60px;
        padding: 20px;
    }
    .arrow {
        padding-left: 3px;
    }
    h4:hover .arrow{
        padding-left: 8px;
    }
    li {
        list-style: none;
    }
    li:hover {
        color: #50cbc7;
        cursor: pointer;
    }
    @media (max-width: 768px) {
        h3 {
            display: block;
            color: #d8d8d8;
        }
        aside {
            margin-top: 20px;
        }
    }
    @media (max-width: 1300px) {
        h3 {
            display: block;
            color: #d8d8d8;
        }
        aside {
            width: 100%;
        }
        ul {
            padding: 0;
            text-align: center;
        }
    }
</style>
