---
import Github from "./icons/github.astro";
import Linkedin from "./icons/linkedin.astro";
import Gmail from "./icons/gmail.astro";
import Cv from "./icons/Cv.astro";
import Line from "./icons/Line.astro";

const navItems = [
    { title: "About me ", label: "/about", url: "/#about", class: "options active" },
    { title: "Projects", label: "projects", url: "/#projects", class: "options"  },
    { title: "Blog", label: "/blog", url: "/#blog", class: "options"  },
];

const socialItems = [
    { title: "Github", url: "https://github.com/fvigliarolo" },
    {
        title: "Linkedin",
        url: "https://uy.linkedin.com/in/federico-vigliarolo-943b72201",
    },
    { title: "email", url: "mailto:fd.vigliarolo@gmail.com" },
    { title: "cv", url: "../../public/CVIngles.pdf" },
];
---

<header>
    <div class="Description">
        <h1>Federico Vigliarolo</h1>
        <p><strong>Fullstack Developer</strong></p>
        <p>
            I build fullstack applications with javascript stack.
            <br />
            The lefting hours of the day, I work as a QA Engineer.
        </p>
    </div>
    <nav>
        {
            navItems.map((item) => (
                <div class={item.class} onclick="document.querySelectorAll('.options').forEach(el => el.classList.remove('active'));this.classList.add('active');">
                    <Line class="line"/>
                    <a href={item.url} class="nav-item">
                        {item.title}
                    </a>
                </div>
            ))
        }
    </nav>
    <div class="socialItems">
        {
            socialItems.map((item) => (
                <a href={item.url} class="social-item">
                    {item.title === "Github" && <Github />}
                    {item.title === "Linkedin" && <Linkedin />}
                    {item.title === "email" && <Gmail />}
                    {item.title === "cv" && <Cv />}
                </a>
            ))
        }
    </div>
</header>

<style>
    .options{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 20px;
    }
    .options.active .nav-item{
        display: block;
        padding-right: 10px;
        cursor: pointer;
        color: #d8d8d8;
    }
    .options.active .line{
        display: block;
        height: 100px;
        padding-right: 10px;
        cursor: pointer;
        color: #d8d8d8;
    }
    .options .line{
        height: 30px;
    }
    .options:hover .line{
        display: block;
        height: 100px;
        padding-right: 10px;
        cursor: pointer;
        color: #d8d8d8;

    }
    .options:hover .nav-item{
        color: #d8d8d8;
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1rem;
        height: 75%;
        margin: 0 1%;
        overflow-y: hidden;
        position: fixed;
        z-index: 1000;
    }
    h1 {
        font-size: 2.8rem;
        line-height: 1rem;
    }
    strong {
        font-size: 1.1rem;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 100px;
    }
    p {
        letter-spacing: 1px;
    }

    a {
        text-decoration: none;
        color: #d8d8d8ba;
    }
    .socialItems {
        align-self: flex-start;
    }

    .socialItems a {
        margin: 0 0.5rem;
    }

    .socialItems a:hover {
        color: #d8d8d8;
    }

    @media (max-width: 768px) {
        header {
            height: 30%;
            margin: 0;
            margin-bottom: 20px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            position: relative;
        }
        nav {
            display: none;

        }
        h1 {
            font-size: 2rem;
        }
        strong {
            font-size: 1rem;
        }

        .socialItems {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-self: center;

        }
    }
</style>
