---
import ArrowRight from "./icons/ArrowRight.astro";
import projects from "../data/projects";
import Badge from "./Badge.astro";
---

<section id="projects" class="projects">
    <ul>
        {
            projects.slice(0, 3).map( // Primeros 3 proyectos
                (
                    project
                ) => (
                    <li>
                        <div class="goal">
                            <span>{project.goal}</span>
                        </div>
                        <div class="project-data">
                            <p class="title">{project.title} <ArrowRight class="arrow" /> </p>
                            <p class="description">{project.description}</p>
                            <ul class="tecnologies">
                                {project.tecnologies.map((tecnology) => (
                                    <Badge>{tecnology}</Badge>
                                ))}
                            </ul>
                        </div>
                    </li>
                ),
            )
        }
    </ul>
    <a href="/all_projects">See more projects <ArrowRight class="arrow" /> </a>
</section>

<style>
    .project-data{
        margin-left: 30px;
    }
    section{
        font-size: 0.875em; /* 14 px */
        color: #d8d8d8;
    }
    .title{
        font-size: 1.2em;
        font-weight: 500;
        text-height: 1.5em;
        display: inline-flex;
    }
    .title .arrow {
        padding-left: 3px;
    }
    .description {
        color: #d8d8d8ba;
        letter-spacing: 1px;
        width: 90%;
    }
    a {
        display: inline-flex;
        text-decoration: none;
        align-items: center;
        color: #d8d8d8;
    }

    li {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 10px auto;
    }
    li:hover{
        background-color: #1f2a4b;
        border-radius: 5px;
        cursor: pointer;
    }
    li:hover .arrow {
        padding-left: 8px;
    }
    .goal {
        margin-top: 20px;
        padding-left: 10px;
        color: #d8d8d8ba;
    }
    li:hover .title{
        color: #50cbc7;
    }
    .tecnologies {
        padding: 0;
        display: flex;
        /* width: 90%; */
        flex-wrap: wrap;
    }
    .tecnologies li {
        padding: 2px;
        margin-right: 5px;
    }
    ul {
        padding: 0;
        margin-bottom: 10px;
    }
    a {
        font-weight: 500;
    }
    a:hover {
        color: #50cbc7;
    }
    a:hover .arrow {
        padding-left: 5px;
    }
    span{
        text-wrap: nowrap;
    }

</style>
