<main>
    <slot />
</main>

<style>
    main {
        display: flex;
        flex-direction: column;
        margin-left: 600px;
    }
    @media (max-width: 768px) {
        main {
            display: flex;
            flex-direction: column;
            margin-left: 0;
        }
    }
    @media (max-width: 1300px) {
        main {
            display: flex;
            flex-direction: column;
            margin-left: 0;
            align-items: center;
        }
    }
</style>
