<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Federico Vigliarolo</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 40px auto;
		width: 85%;
		height: 100%;
		background-color: #101c3d;
		color: #d8d8d8;
  		font-family: 'Onest Variable', sans-serif;
		line-height: inherit;
		font-weight: 100;
	}
</style>
